Cliente/Service References/Sinai/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Lista">
        <s:complexType />
      </s:element>
      <s:element name="ListaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaResult" type="tns:ArrayOfEntRol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEntRol">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntRol" nillable="true" type="tns:EntRol" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntRol">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdRol" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Rol" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Agregar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="tns:EntRol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarResponse">
        <s:complexType />
      </s:element>
      <s:element name="Details">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdRol" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DetailsResult" type="tns:EntRol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="tns:EntRol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarResponse">
        <s:complexType />
      </s:element>
      <s:element name="Eliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdRol" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListaSoapIn">
    <wsdl:part name="parameters" element="tns:Lista" />
  </wsdl:message>
  <wsdl:message name="ListaSoapOut">
    <wsdl:part name="parameters" element="tns:ListaResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarSoapIn">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="AgregarSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="DetailsSoapIn">
    <wsdl:part name="parameters" element="tns:Details" />
  </wsdl:message>
  <wsdl:message name="DetailsSoapOut">
    <wsdl:part name="parameters" element="tns:DetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarSoapIn">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="ActualizarSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarSoapIn">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="EliminarSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="Lista">
      <wsdl:input message="tns:ListaSoapIn" />
      <wsdl:output message="tns:ListaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:input message="tns:AgregarSoapIn" />
      <wsdl:output message="tns:AgregarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Details">
      <wsdl:input message="tns:DetailsSoapIn" />
      <wsdl:output message="tns:DetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input message="tns:ActualizarSoapIn" />
      <wsdl:output message="tns:ActualizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input message="tns:EliminarSoapIn" />
      <wsdl:output message="tns:EliminarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Lista">
      <soap:operation soapAction="http://tempuri.org/Lista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Details">
      <soap:operation soapAction="http://tempuri.org/Details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Lista">
      <soap12:operation soapAction="http://tempuri.org/Lista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap12:operation soapAction="http://tempuri.org/Agregar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Details">
      <soap12:operation soapAction="http://tempuri.org/Details" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap12:operation soapAction="http://tempuri.org/Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap12:operation soapAction="http://tempuri.org/Eliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:3648/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:3648/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>